/* Wrapper Content */

.wrapper_boxs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 18px;
    grid-template-rows: 1fr;
    max-height: 100%;
}

/*******************/

/* Box Content */

.box-content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 28px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    overflow: auto;
}

.box-content.startFlex {
    justify-content: flex-start;
}

.box-content.w480 {
    width: 480px;
}

.box-content .title {
    width: 100%;
    text-align: center;
}

.box-content .title h2 {
    font-size: 1.4rem;
}

.box-content .title span {
    opacity: 0.8;
    font-weight: 500;
    display: inline-block;
    position: relative;
    font-size: 0.88rem;
}

.box-content .title span::before {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 50%;
    left: 25%;
    right: 25%;
    height: 4px;
    background-color: var(--color-yellow);
}

.box-content>.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 28px 0;
    gap: 18px;
}

@media screen and (max-width: 768px) {
    .box-content {
        width: 100%;
    }
}

/***************/


/* Form */

form.Form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

form.Form.max768 {
    max-width: 768px;
}

form.Form .group-input {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
}

form.Form .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

form.Form .input label {
    font-size: .8rem;
    font-weight: 500;
}

form.Form .input input,
form.Form .input select {
    font-size: 0.8222rem;
    padding: 8px 12px;
    border-radius: 3px;
    box-shadow: rgba(9, 30, 66, 0) 0px 4px 8px -2px, rgba(9, 30, 66, 0.2) 0px 0px 0px 1px;
    transition: all .25s ease-in-out;
    width: 100%;
}

form.Form .input select {
    padding: 6px 12px;
}

form.Form .input input:hover,
form.Form .input input:active,
form.Form .input input:focus,
form.Form .input select:hover,
form.Form .input select:active,
form.Form .input select:focus {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.2) 0px 0px 0px 1px;
}

form.Form .input label.error {
    color: var(--color-red);
    font-size: 11px;
}

form.Form .group-buttons,
.group-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

form.Form .group-buttons button,
.group-buttons button {
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 4px;
    line-height: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    appearance: none;
    cursor: pointer;
}

form.Form .group-buttons button.success,
.group-buttons button.success {
    background-color: var(--color-green);
    color: #fff;
    border: 1px solid rgba(27, 31, 35, .15);
}

form.Form .group-buttons button.cancel,
.group-buttons button.cancel {
    background-color: var(--color-red);
    color: #fff;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}


@media screen and (max-width: 768px) {
    form.Form.max768 {
        max-width: 100%;
    }

    form.Form .group-input {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }
}

/********/


/* Form Search Filter */
.filter-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}


.filter-search .search-input {
    background-color: #fff;
    border: 1px solid #C3C6D1;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding-left: 2px;
}

.filter-search .search-input input {
    font-size: 0.8rem;
    padding: 4px 8px;
}

.filter-search .search-input button {
    background-color: #C3C6D1;
    color: #fff;
    height: 100%;
    width: 30px;
    font-size: 11px;
    cursor: pointer;
    transition: all .20s ease-in-out;
}

.filter-search .search-input button:hover {
    background-color: #bcbdc0;
}

.filter-search .dropdown-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}


.filter-search .dropdown-list span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #C3C6D1;
}

.filter-search .dropdown-list select {
    background-color: #fff;
    border: 1px solid #C3C6D1;
    border-radius: 4px;
    font-size: 0.8rem;
    height: 30px;
    min-width: 120px;
    max-width: 180px;
}

.filter-search .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.filter-search .buttons .button-a {
    font-size: 0.8rem;
    background-color: #1a88e2;
    height: 100%;
    padding: 6px 8px;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
}

/**********************/


/* Table */
.table {
    width: 100%;
}

.table table {
    width: 100%;
    border: 2px solid #ddd !important;
    text-align: left;
    font-size: 0.82rem;
    border-radius: 6px;
    border-collapse: collapse;
}


.table table thead tr th {
    padding: 8px 10px;
    border-bottom: 2px solid #ddd;
    border-right: 1px solid #ddd;
    font-weight: 500;
}

.table table tbody tr {
    display: table-row;
}

.table table tbody tr td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: .76rem;
}

.table table tbody tr td.options div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.table table tbody tr td.options div button {
    background-color: transparent;
    font-size: 0.67rem;
    padding: 5px 7px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.table table tbody tr td.options div button.edit {
    background-color: #FFBA08;
}

.table table tbody tr td.options div button.delete {
    background-color: #DC2F02;
}

.table table tbody tr td .status-select {
    cursor: pointer;
    border: 1px solid #eee;
    padding: 4px 6px;
    border-radius: 6spx;
}

/*********/

/* Dashboard Styles */

div.dashboard-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 38px;
}

div.dashboard-div .icon {
    height: 100%;
    width: 100;
}

div.dashboard-div .icon a {
    font-size: 2.4rem;
}

/*******************/


/* Login Styles */

div.login-div {
    display: grid;
    place-content: center;
    height: 100%;
}

/****************/


/* Wrapper Students */
.wrapper_students {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 12px;
}

.wrapper_students .item {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    padding: 14px 16px;
    border-radius: 5px;
}

.wrapper_students .item .photo {
    max-width: 72px;
    width: 70px;
}

.wrapper_students .item .photo img {
    width: 100%;
}

.wrapper_students .item .photo .edit {
    text-align: center;
}

.wrapper_students .item .photo .edit a {
    color: #1a88e2;
    font-size: 13px;
}

.wrapper_students .item .photo .edit a:hover {
    text-decoration: underline;
}

.wrapper_students .item .information {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper_students .item .information .row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.wrapper_students .item .information .row.green {
    background-color: var(--color-green);
}

.wrapper_students .item .information .row.green span {
    color: #fff;
}

.wrapper_students .item .information .row span {
    font-size: 0.88rem;
}


.wrapper_students .item-event {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    border-radius: 5px;
    gap: 16px;
}

.wrapper_students .item-event .photo {
    max-width: 42px;
    max-height: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;
}

.wrapper_students .item-event .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.wrapper_students .item-event .details {
    font-size: 0.89rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapper_students .item-event .details .status {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 10px;
    font-weight: 500;
    background-color: var(--color-yellow);
    color: #fff;
}

.wrapper_students .item-event .details .status.assign {
    background-color: var(--color-green);
}

.wrapper_students .item-event .details .buttons button {
    display: grid;
    place-content: center;
    padding: 5px 6px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.wrapper_students .item-event .details .buttons button:hover {
    background-color: #eee;
}


/* Message Error */

.message-error {
    background-color: #F8D7DA;
    border: 1px solid #F5C6CB;
    width: 100%;
    padding: 14px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}

.message-error span,
.message-error i {
    color: #9D1C59;
    font-size: 0.89rem;
}

/* MultiSelectJS */

.ms-container {
    width: 100% !important;
}

.ms-container .custom-header {
    padding: 4px 6px;
    font-size: 0.866rem;
    font-weight: 500;
}


/* Wrapper Matchs */

.wrapper_matchs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.wrapper_matchs .match_round {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.wrapper_matchs .match_round h2 {
    font-size: 1rem;
}

.wrapper_matchs .match_round .matchs {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}

.wrapper_matchs .match_round .matchs .select-data {
    width: 100%;
}

.wrapper_matchs .match_round .matchs .select-data .data-participantes {
    width: 100%;
}


.wrapper_matchs .match_round .matchs .select-data .select2-selection__rendered {
    font-size: .84rem;
}

.font-size-84rem{
    font-size: .84rem;
}

.wrapper_matchs .match_round .matchs .score-match{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 12px;
}

.wrapper_matchs .match_round .matchs .score-match input {
    border: 1px solid #bcbdc0;
    padding: 6px 8px;
    border-radius: 3px;
    width: 100%;
    font-size: 0.877rem;
}

.wrapper_matchs .match_round .matchs .score-match input.player-score {
    max-width: 68px;
}

/* .wrapper_matchs .match_round .matchs .player {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
}

.wrapper_matchs .match_round .matchs .player input {
    font-size: .88rem;
    max-width: 80px;
    border: 1px solid #adb5bd;
    padding: 4px 6px;
    border-radius: 3px;
} */

/* .wrapper_matchs .match_round .matchs .player select {
    border: 1px solid #adb5bd;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: .84rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.wrapper_matchs .match_round .matchs .player select option {
    font-size: .822rem;
}
 */
.wrapper_matchs .match_round .btn_save {
    background-color: var(--color-green);
    padding: 8px 8px;
    font-size: 0.89rem;
    font-weight: 500;
    color: #fff;
    width: auto;
    cursor: pointer;
}

/* Item Grafica */
.wrapper_graficas {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
}

.wrapper_graficas .item-grafica {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    align-items: center;
    padding: 12px 16px;
    border-radius: 5px;
}

.wrapper_graficas .item-grafica .name h4 {
    font-size: 0.955rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-bottom: 4px;
}

.wrapper_graficas .item-grafica .name h4 span.status {
    display: inline-block;
    font-size: .60rem;
    padding: 3px 5px;
    border-radius: 10px;
    background-color: red;
    color: #fff;
    font-weight: 400;
}

.wrapper_graficas .item-grafica .name h4 span.status.EN_CURSO,
.wrapper_graficas .item-grafica .name h4 span.status.FINALIZADO {
    background-color: var(--color-green);
}

.wrapper_graficas .item-grafica .name>div {
    display: flex;
    flex-direction: row;
}

.wrapper_graficas .item-grafica .name>div p {
    font-size: .777rem;
    font-weight: 500;
    opacity: 0.8;
}

.wrapper_graficas .item-grafica .name>div p:first-child:after {
    content: '•';
    margin: 0 4px;
}

.wrapper_graficas .item-grafica .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.wrapper_graficas .item-grafica .buttons a,
.wrapper_graficas .item-grafica .buttons button {
    color: rgba(0, 0, 0, 0.425);
    font-size: 0.88rem;
}

.wrapper_graficas .item-grafica .buttons a:hover,
.wrapper_graficas .item-grafica .buttons button:hover {
    color: rgba(0, 0, 0, 0.877);
    cursor: pointer;
}


.loading {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgba(51, 51, 51, 0.7);
    border-color: rgba(51, 51, 51, 0.7) transparent rgba(51, 51, 51, 0.7) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}